:host {
	display: list-item;
	padding: 10px 20px;
	border-bottom: 1px solid var(--main-color);
}

label {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: large;
	cursor: pointer;
	width: clamp(100px, 60vw, 400px);
}

.completed {
	text-decoration: line-through;
	color: var(--text-main-color);
	color: color-mix(in hsl, var(--text-main-color), black 20%);
}

button {
	background-color: var(--alert-color);
	color: var(--error-text-color);
	border: none;
	padding: 8px 12px;
	font-size: 14px;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s, box-shadow 0.3s;
}

button:hover {
	background-color: #c82333;
}

button:focus {
	outline: none;
	box-shadow: 0 0 5px rgba(220, 53, 69, 0.5);
}
